<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connstr1" connectionString="Server=.;DataBase=bktest;UID=wo;PWD=abc123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--maxRequestLength单位kb-->
    <httpRuntime maxRequestLength="2048" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="urlrewriter" type="tpc.urw" />
    </modules>
    <handlers>
      <add name="hdlr1" verb="*" path="/hp/*.in" type="wes.hl.in,wes" />
      <!--verb请求动作get,post,*，path随意定义，跟物理路径、程序目录没有联系。其中通配符*号位置没有限制，*号不能匹配"/"-->
      <add name="hdlr3" verb="*" path="/upload/*/*/*.mp4" type="wes.hl.in,wes" />
    </handlers>
  </system.webServer>
</configuration>